<%- include('../partials/header') %>

  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <!-- <img src="<%= s.img %>" alt=""> -->
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          - 
        <span style="<%= s.learned ? "color: green" : "color: red" %>"><%= s.learned ? 'learned' : 'not learned yet' %></span>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add New Skill</a>

<%- include('../partials/footer') %>