<%- include('../partials/header') %>

  <a href="/skills">Back</a>
  <!-- <img src="<%= skill.img %>" alt="<%= skill.skill %>"> -->
  <h3><%= skill.skill %></h3>
  <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>
  <h4>Description: <%= skill.descr %></h4>
  
<%- include('../partials/footer') %>