<%- include('../partials/header') %>

  <a href="/skills">Back</a>
  <!-- <img src="<%= skill.img %>" alt="<%= skill.skill %>"> -->
  <h3><%= skill.skill %></h3>
  <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>
  <h4>Description: <%= skill.descr %></h4>
  <form 
  action="/skills/ <%= skill.id %>?_method=DELETE"
  method="POST"
  class = "delete-form"
  >
    <button>Delete Skill</button>
  </form>
  <form 
  action="/skills/<%= skill.id %>/edit"
  method="GET"
  class = "edit-form"
  >
    <button>Edit Skill</button>
  </form>

<%- include('../partials/footer') %>